<% if @appointment.errors.any? %>
  <% @appointment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit appointment #<%= @appointment.id %>
</h1>

<hr>

<form action="/update_appointment/<%= @appointment.id %>" method="post">

  <div class="form-group">
    <label for="office_id">
      Office
    </label>

    <%= select_tag(:office_id, options_from_collection_for_select(Office.all, :id, :name, @appointment.office_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :created_at, @appointment.patient_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="professional_id">
      Professional
    </label>

    <%= select_tag(:professional_id, options_from_collection_for_select(Professional.all, :id, :created_at, @appointment.professional_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="charge_id">
      Charge
    </label>

    <input type="text" id="charge_id" name="charge_id" class="form-control" value="<%= @appointment.charge_id %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @appointment.notes %></textarea>
  </div>

  <div class="form-group">
    <label for="time_slot">
      Time slot
    </label>

    <input type="text" id="time_slot" name="time_slot" class="form-control" value="<%= @appointment.time_slot %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update appointment
  </button>
</form>

<hr>

<a href="/appointments">
  Go back
</a>
