<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Appointment #<%= @appointment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/appointments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/appointments/<%= @appointment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit appointment
        </a>
      </div>

      <div class="col">
        <a href="/delete_appointment/<%= @appointment.id %>" class="btn btn-block btn-outline-secondary">
          Delete appointment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Office
      </dt>
      <dd>
        <% if @appointment.office.present? %>
          <a href="/offices/<%= @appointment.office_id %>">
            <%= @appointment.office.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Patient
      </dt>
      <dd>
        <% if @appointment.patient.present? %>
          <a href="/patients/<%= @appointment.patient_id %>">
            <%= @appointment.patient.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Professional
      </dt>
      <dd>
        <% if @appointment.professional.present? %>
          <a href="/professionals/<%= @appointment.professional_id %>">
            <%= @appointment.professional.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Charge
      </dt>
      <dd>
        <%= @appointment.charge_id %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @appointment.notes %>
      </dd>

      <dt>
        Time slot
      </dt>
      <dd>
        <%= @appointment.time_slot %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@appointment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@appointment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "appointment_templates/appointment_charges" %>
  </div>
</div>
