<% if @charge.errors.any? %>
  <% @charge.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit charge #<%= @charge.id %>
</h1>

<hr>

<form action="/update_charge/<%= @charge.id %>" method="post">

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @charge.amount %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="paid">
    <input id="paid" class="form-check-input" name="paid" type="checkbox" value="1" <%= "checked" if @charge.paid %>>
    <label for="paid" class="form-check-label">
      Paid
    </label>
  </div>

  <div class="form-group">
    <label for="appointment_id">
      Appointment
    </label>

    <%= select_tag(:appointment_id, options_from_collection_for_select(Appointment.all, :id, :office_id, @charge.appointment_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="treatment_id">
      Treatment
    </label>

    <%= select_tag(:treatment_id, options_from_collection_for_select(Treatment.all, :id, :name, @charge.treatment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update charge
  </button>
</form>

<hr>

<a href="/charges">
  Go back
</a>
