<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Specialty #<%= @specialty.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/specialties" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link specialty start -->
      <div class="col">
        <a href="/specialties/<%= @specialty.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit specialty
        </a>
      </div>
      <!-- Edit link specialty end -->

      <!-- Delete link specialty start -->
      <div class="col">
        <a href="/delete_specialty/<%= @specialty.id %>" class="btn btn-block btn-outline-secondary">
          Delete specialty
        </a>
      </div>
      <!-- Delete link specialty end -->
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@specialty.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@specialty.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "specialty_templates/specialty_specializations" %>
  </div>
</div>
<!-- Show Page Customization end -->
