<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All specializations
    </h1>

    <a href="/specializations/new" class="btn btn-block btn-outline-secondary">
      Add a new specialization
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "specialization_templates/specializations_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Professional
        </th>

        <th>
          Specialty
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @specializations.each do |specialization| %>
      <tr>
        <td>
          <%= specialization.id %>
        </td>

        <td>
          <% if specialization.professional.present? %>
            <a href="/professionals/<%= specialization.professional.id %>">
              <%= specialization.professional.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if specialization.specialty.present? %>
            <a href="/specialties/<%= specialization.specialty.id %>">
              <%= specialization.specialty.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(specialization.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(specialization.updated_at) %> ago
        </td>

        <td>
          <a href="/specializations/<%= specialization.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @specializations, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
