<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Specialization #<%= @specialization.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/specializations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/specializations/<%= @specialization.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit specialization
        </a>
      </div>

      <div class="col">
        <a href="/delete_specialization/<%= @specialization.id %>" class="btn btn-block btn-outline-secondary">
          Delete specialization
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Professional
      </dt>
      <dd>
        <% if @specialization.professional.present? %>
          <a href="/professionals/<%= @specialization.professional_id %>">
            <%= @specialization.professional.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Specialty
      </dt>
      <dd>
        <% if @specialization.specialty.present? %>
          <a href="/specialties/<%= @specialization.specialty_id %>">
            <%= @specialization.specialty.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@specialization.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@specialization.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

