<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All work relationships
    </h1>

    <a href="/work_relationships/new" class="btn btn-block btn-outline-secondary">
      Add a new work relationship
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "work_relationship_templates/work_relationships_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Professional
        </th>

        <th>
          Office
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @work_relationships.each do |work_relationship| %>
      <tr>
        <td>
          <%= work_relationship.id %>
        </td>

        <td>
          <% if work_relationship.professional.present? %>
            <a href="/professionals/<%= work_relationship.professional.id %>">
              <%= work_relationship.professional.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if work_relationship.office.present? %>
            <a href="/offices/<%= work_relationship.office.id %>">
              <%= work_relationship.office.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(work_relationship.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(work_relationship.updated_at) %> ago
        </td>

        <td>
          <a href="/work_relationships/<%= work_relationship.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @work_relationships, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
