<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Work relationship #<%= @work_relationship.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/work_relationships" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/work_relationships/<%= @work_relationship.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit work relationship
        </a>
      </div>

      <div class="col">
        <a href="/delete_work_relationship/<%= @work_relationship.id %>" class="btn btn-block btn-outline-secondary">
          Delete work relationship
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Professional
      </dt>
      <dd>
        <% if @work_relationship.professional.present? %>
          <a href="/professionals/<%= @work_relationship.professional_id %>">
            <%= @work_relationship.professional.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Office
      </dt>
      <dd>
        <% if @work_relationship.office.present? %>
          <a href="/offices/<%= @work_relationship.office_id %>">
            <%= @work_relationship.office.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@work_relationship.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@work_relationship.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

